html {
    background-color: #E8E8E8;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/* Notepad */

.top-bar-notepad-white-line {
    background-color: #E6E6E8;
    top: 0;
    width: 100%;
    height: 5px;
    position: fixed;
    overflow: hidden;
}

.left-bar-notepad-white-line {
    background-color: #E6E6E8;
    left: 0;
    width: 5px;
    height: 100%;
    position: fixed;
    overflow: hidden;
}


.notepad-img {
    height: 25px;
    padding-top: 1px;
    padding-left: 19px;
}

.top-bar-notepad {
    background-color: #020080;
    top: 0;
    width: 100%;
    height: 30px;
    position: fixed;
}

.text {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.top-toolbar-notepad-grey {
    background-color: #C5C5C5;
    top: 30px;
    width: 100%;
    height: 35px;
    position: fixed;
}

.underline {
    text-decoration-line: underline;
}

.padding-left-10px {
    padding-left: 10px;
}

/* text */
.padding-top-75px {
    padding-top: 75px;
}

.about-text {
    display: flex;
    justify-content: start;
    font-size: 12px;
    color: black;
    font-family: 'Press Start 2P', cursive;
    padding-left: 20px;
    width: 750px;
    line-height: 20px;
}
span {
    height: 21px;
}
/* Bottom tool bar */

.toolbar {
    background-color: #C0C0C0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
}

.toolbar-img {
    height: 29px;
    padding-top: 1px;
    padding-right: 3px;
}

.white-line {
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 37px;
    width: 100%;
}

.notepad-toolbar {
    align-content: flex-start;
}

.padding-left-5px {
    padding-left: 5px;
}

.toolbar-flex {
    display: flex;
    justify-content: space-between;
}
