/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); 

/* Global */

body {
      font-family: 'Press Start 2P', cursive;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.75);
      background-color: #000
}

.line {
      overflow: hidden;transform: translateY(-50%);
      margin: 0;
      position: relative;
      white-space: nowrap;

}

/*Animation*/

.anim-typewriter {
      animation: typewriter .1s steps(40) 1s 1 normal both;
}
.anim-typewriter2 {
      animation: typewriter .1s steps(40) 2.2s 1 normal both;
}
.anim-typewriter3 {
      animation: typewriter .1s steps(40) 3.3s 1 normal both;
}
.anim-typewriter4 {
      animation: typewriter .1s steps(40) 3.4s 1 normal both;
}
.anim-typewriter5 {
      animation: typewriter .1s steps(40) 4.5s 1 normal both;
}
.anim-typewriter6 {
      animation: typewriter .1s steps(40) 4.6s 1 normal both;
}
.anim-typewriter7 {
      animation: typewriter .1s steps(40) 5.7s 1 normal both;
}
.anim-typewriter8 {
      animation: typewriter .1s steps(40) 5.8s 1 normal both;
}
.anim-typewriter9 {
      animation: typewriter .1s steps(40) 5.9s 1 normal both;
}
.anim-typewriter10 {
      animation: typewriter .1s steps(40) 6s 1 normal both;
}
.anim-typewriter11 {
      animation: typewriter .1s steps(40) 6.1s 1 normal both;
}
.anim-typewriter12 {
      animation: typewriter 2s steps(40) 6.2s 1 normal both;
}
.anim-typewriter13 {
      animation: typewriter 3s steps(40) 8.95s 1 normal both;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 700px;
      }
}
