@import url('https://fonts.googleapis.com/css?family=Bitter|Noto+Sans+TC&display=swap');

section {
    height: 100vh;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    background-color: #25262A;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

.top-bar {
    background-color: #181818;
    padding-top: 2.5px;
    padding-bottom: 8px;
}

.top-bar-text {
    display: inline-block;
    font-family: 'Bitter', serif;
    color: #4F4F4F;
    margin: 0;
    margin-top: 5px;
    margin-left: 35px;
    font-size: 25px;
    text-decoration: none;
}

.text {
    margin: 0;
    margin-top: 7px;
}

.about-text {
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
}

.introduction {
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    margin-top: 75px;
    margin-left: 35px;
    font-size: 25px;
}

.socials-text {
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.ontop-socials-text {
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    margin-top: 75px;
    font-size: 25px;
}

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.under-line {
    text-decoration: underline;
}

.red {
    color: #FB6363;
}

.jump {
    display: inline-block;
}

.jump:hover {
    animation: jump .5s;
}

.discord {
    color: #7289DA;
}

.twitter {
    color: #1DA1F2;
}

.reddit {
    color: #FF4500;
}

.github {
    color: #551A8B;
}

.steam {
    color: rgb(87, 87, 87);
}


@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7.5px);
    }

}

@media only screen and (min-width: 0px) {
    .Adjust1 {
        font-size: 10px;
    }

    .Adjust3 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 320px) {
    .Adjust1 {
        font-size: 25px;
    }

    .Adjust3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 355px) {
    .Adjust1 {
        font-size: 30px;
    }

    .Adjust3 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 400px) {
    .Adjust1 {
        font-size: 35px;
    }

    .Adjust3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 495px) {
    .Adjust1 {
        font-size: 40px;
    }

    .Adjust3 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 542px) {
    .Adjust1 {
        font-size: 45px;
    }
}

@media only screen and (min-width: 610px) {
    .Adjust1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 670px) {
    .Adjust1 {
        font-size: 55px;
    }
}
