html {
    background-color: #018182;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

section {
    height: 99vh;
}

a:link {
    text-decoration: none;
  }

.icon-text-white {
    color: rgb(190, 190, 190);
    font-weight: 1;
}

.icon-padding-left {
    padding-left: 15px;
}

.padding-top-7px {
    padding-top: 7px;
}

.padding-top-20px {
    padding-top: 20px;
}

.icon-div {
    display: flex;
    flex-direction: column;
    width: 72px;
    justify-content: center;
    align-items: center;
}

.icon-div img {
    width: 32px;
}

.icon-div h3 {
    justify-content: center;
}

.toolbar {
    background-color: #C0C0C0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
  }

.toolbar-img {
    height: 29px;
    padding-top: 1px;
    padding-right: 3px;
}

.white-line {
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 37px;
    width: 100%;
  }

.toolbar-flex {
   display: flex;
   justify-content: space-between;
}

.error-message {
    display: flex;
    justify-content: center;
}

.error-message img {
    width: 275px;
}
