@media only screen and (min-width: 0px) {
    .Adjust1 {
        font-size: 10px;
    }

    .Adjust3 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 320px) {
    .Adjust1 {
        font-size: 25px;
    }

    .Adjust3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 355px) {
    .Adjust1 {
        font-size: 30px;
    }

    .Adjust3 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 400px) {
    .Adjust1 {
        font-size: 35px;
    }

    .Adjust3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 495px) {
    .Adjust1 {
        font-size: 40px;
    }

    .Adjust3 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 542px) {
    .Adjust1 {
        font-size: 45px;
    }
}

@media only screen and (min-width: 610px) {
    .Adjust1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 670px) {
    .Adjust1 {
        font-size: 55px;
    }
}
