/* Set background color and disable scrolling */

html {
    background-color: #E8E8E8;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Disable selection */

.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    
}

/* Change color of selected text */

::selection {
    background: #0000A8;
    color: #FEFEFE;
     /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #0000A8; 
    color: #FEFEFE;
    /* Gecko Browsers */
  }

/* Notepad */

.top-bar-notepad-white-line {
    background-color: #E6E6E8;
    top: 0;
    width: 100%;
    height: 5px;
    position: fixed;
    overflow: hidden;
}

.left-bar-notepad-white-line {
    background-color: #E6E6E8;
    left: 0;
    width: 5px;
    height: 100%;
    position: fixed;
    overflow: hidden;
}


.notepad-img {
    height: 25px;
    padding-top: 1px;
    padding-left: 19px;
}

.top-bar-notepad {
    background-color: #020080;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
}

.object {
    justify-content: space-between;
}

.x-button {
    width: 27px;
    height: 27px;
    padding-top: 3px;
    padding-right: 3px;
}

.text {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding-top: 7px;

}

.top-toolbar-notepad-grey {
    background-color: #C5C5C5;
    top: 30px;
    width: 100%;
    height: 35px;
    position: fixed;
}

.top-toolbar-notepad-black {
    background-color: black;
    top: 31px;
    width: 100%;
    height: 35px;
    position: fixed;
}

.underline {
    text-decoration-line: underline;
}

.padding-top-5px {
    padding-top: 500px;
}

.padding-left-10px {
    padding-left: 10px;
}

/* Text */

.padding-top-35px {
    padding-top: 35px;
}

.padding-top-75px {
    padding-top: 75px;
}

.black {
    color: black;
}

.about-text {
    justify-content: start;
    color: black;
    font-family: 'Press Start 2P', cursive;
    padding-left: 20px;
    width: 750px;
    line-height: 20px;
}

/* Bottom tool bar */

.purple {
    color: purple;
}

.toolbar {
    background-color: #C0C0C0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
}

.clock-img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 3px;
}

.clock-outside {
    display: flex;
    border-radius: 0px;
    box-shadow: inset 1px 1px 1px #808080,
        inset -1px -1px 2px white;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 2px;
    height: 29px;
    width: 106px;
}

.clock-inside {
    font-family: 'Press Start 2P', cursive;
    margin-top: 12px;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 8px;
    font-weight: 100;
    transform: scale(1, 2);
}

.toolbar-img {
    height: 29px;
    padding-top: 1px;
    padding-right: 3px;
}

.white-line {
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 37px;
    width: 100%;
}

.notepad-toolbar {
    align-content: flex-start;
}

.padding-left-5px {
    padding-left: 5px;
}

.toolbar-flex {
    display: flex;
    justify-content: space-between;
}