body {
    background-color: rgb(54, 57, 66);
}

.ppic {
    border-radius: 50%;
    width: 50px;
}

.top, .discord, .steam, .twitter {
display: flex;
}

.discord-tag, .top{
    color: white;
    padding: 7px;
    margin: 0;
    background-color: rgb(42, 43, 47)
    
}

.steam, .twitter, .discord{
    width: 35px;
} 

.text{
    color: rgb(201, 198, 198);
}