@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

html {
    font-family: "Barlow", sans-serif;
    background-repeat: no-repeat;
    background-image: url("img/background/Background1380x969Version3.png");
    background-color: rgb(72, 78, 84);
    background-size: cover;
}

.Pignuuu-profile-pic {
    border-radius: 100%;
    width: 60px;
}

.top {
    color: rgb(201, 198, 198);
    width: 525px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.pignuuu-child {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.pignuuume {
    margin-left: 20px;
    margin-right: 20px;
}

.steam-simple-icons,
.twitter-simple-icons,
.discord-simple-icons,
.github-simple-icons {
    width: 45px;
    margin-right: 10px;
    opacity: 0.75;
    transition: transform 0.3s ease-out, opacity 0.3s;
}

/* Hover */

.steam-simple-icons:hover,
.discord-simple-icons:hover,
.twitter-simple-icons:hover,
.github-simple-icons:hover {
    transform: scale(1.12);
    opacity: 1;
    filter: alpha(opacity=65);
}

.about {
    color: rgb(201, 198, 198);
    font-size: 20px;
    margin-left: 30px;
}
