html {
    background-color: #212121;
}

div {
    margin: 20px;
}

div h1 {
    
    margin: 5px;
    color: #F07178;
}
div h2 {
    margin: 5px;
    color: #C792EA;
}
div h3 {
    margin: 5px;
    color: #C3E88D;
}